// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn{
  width: 8rem;
  height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  background-color: black;
  border-radius: 20px;
}

.social-btn p{
  width: 8rem;
  padding-top: 1rem;
  text-align: center;
}

.social-btn a{
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.social-btn a:hover{
  color: red;
  text-decoration: none;
}